TwitterTargetStructure.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="statuses" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="created_at"/>
              <xs:element type="xs:string" name="text"/>
			  <xs:element type="xs:string" name="customField01" maxOccurs="unbounded" minOccurs="0"/>
			  <xs:element type="xs:string" name="customField02" maxOccurs="unbounded" minOccurs="0"/>
			  <xs:element type="xs:string" name="customField03" maxOccurs="unbounded" minOccurs="0"/>
			  <xs:element type="xs:string" name="customField04" maxOccurs="unbounded" minOccurs="0"/>
			  <xs:element type="xs:string" name="customField05" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>