com.sap.education.cld.neverbounce/src/main/resources/wsdl/CustomerValid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CustomerInstances">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customer">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="firstName"/>
							<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="lastName"/>
							<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="email"/>
							<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="email_valid"/>
							<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="twitter_name"/>
							<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="followers_count"/>
							<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="timestamp"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>